@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* font-family: 'PT Sans Narrow', sans-serif; */
  font-family: 'Signika Negative', sans-serif; 
  background-color: #FBE5E5;
  
}
.banner {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #E60965;
  font-family: "Asap", sans-serif;
  font-style: italic;
  align-items: center;
  justify-content: space-between ;
  height: 35px;
  color: #FBE5E5;
}
.banner-left{
  margin-left: 20px;
}
.banner-right {
  justify-self: end;
}
.banner li, .header li {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
 
}

.banner a { 
  padding: 15px 10px;
  color: #FBE5E5;
  
}
.banner a:hover{
  color:#E60965;
  background-color: #FBE5E5;
  transition: 250ms;
}
.header {
  display:grid;
  background-color:#FBE5E5;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  
  height: auto;
  font-weight: 700;
}
.logo{
  margin-left: 20px;
  font-family: 'Caveat', cursive;
  font-size: 24px;
}

.navbar{
  justify-self: end;
}
.navbar li{
  
  background-color: #E60965;
  justify-self: end;
  text-decoration: none;
  font-size: 20px;
  
}

.navbar a{
  text-decoration: none;
  font-size: 20px;
  color: #FBE5E5;
  padding: 0px 10px;
} 

.home-container{
  position:relative;
  max-width: 100%;
  height: auto;
}
.home-container img{
  
  width: 100%;
  object-fit: cover;
  height: 600px;
  object-position: 50%  50%;
}
.home-text{
  position: absolute;
  top:150px;
  left:10px;
  color: white;
  /* border: 1px solid black; */
  width: 40%;
  height:auto;  
}

.home-text h2 {
  font-size: 50px;
}

.home-text p{
  font-weight: 500;
  margin-left: 20px;
  font-size: 30px;
}
.panel{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 15%;
  grid-auto-rows: minmax(130px, auto);
  column-gap: 3%;
}
.panel h1{
  grid-column: 1/5;
  text-align: center;
  padding-top: 40px;

  
}
.panel h3{
  font-size: 18px;
  padding: 8px 0;
}
.panel p{
  color: rgb(112, 112, 112);
 
}
.panel h1,h3{
  color: #222222;
}
.panel-item{
  text-align: center;
  width:100%;
  height:auto;
  /* border: 2px solid black; */
  

}
.panel-item img{
  width: 80%;
  height: auto;
  
 
}
.info{
  display: grid;
  grid-template-columns: 1fr;

  background-color: #FFA1C9;
  
}
.info-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  text-align: center;
  margin: 2% 5%;
}
.info-item-text{
  text-align: left;
}
#info-item2{
  background-color: #FBE5E5;
  margin: 0;
  padding: 2% 5%;
}
#info-item2 p{
  padding-left: 12%;
}
.info-item img{
  width: 70%;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
 
}

.info-item-text{
  color: #222222;
  /* border: 1px solid black; */
  padding: 70px 0;
  
}
.footer{
  display: grid;
}
